In [ ]:
# # 02_cleaning.ipynb
# **Goal:** Clean Amazon sales report, standardize types, filter valid sales, do feature engineering, and save cleaned CSV.

# Instructions:
# 1. Run cells from top to bottom.
# 2. Inspect printed outputs and sample rows where asked.
# 3. If you spot anything odd, note it in the notebook (we'll document choices).

In [1]:
# Imports
import os
import pandas as pd
import numpy as np

# Helper: show files in project folders (quick check)
print("Working dir:", os.getcwd())
print("Raw data files:", os.listdir("../data/raw") if os.path.exists("../data/raw") else "data/raw not found")
print("Processed data folder exists:", os.path.exists("../data/processed"))

# Small helper for safe numeric parsing
def to_numeric_clean(series):
    """
    Remove non-numeric characters (commas, currency symbols) and convert to float.
    """
    return pd.to_numeric(series.astype(str).str.replace(r'[^0-9.\-]', '', regex=True), errors='coerce')

Working dir: c:\Users\Utkarsh Pal\OneDrive\文档\E-Commerce\notebooks
Raw data files: ['Amazon Sale Report.csv']
Processed data folder exists: True

In [2]:
# Path (adjust if your file name/path differs)
raw_path = "../data/raw/Amazon Sale Report.csv"

# Load (no parse_dates yet so we can inspect raw Date format)
df = pd.read_csv(raw_path, low_memory=False)
print("Loaded:", raw_path)
print("Shape:", df.shape)

Loaded: ../data/raw/Amazon Sale Report.csv
Shape: (128975, 24)

In [4]:
# Show columns and top rows
print("Columns:", df.columns.tolist())
display(df.head(8))

# Basic info & missingness
print("\nInfo:")
display(df.info())
print("\nMissing values (top):")
display(df.isnull().sum().sort_values(ascending=False).head(20))

# Duplicate rows count
print("\nDuplicate rows:", df.duplicated().sum())

Columns: ['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids', 'B2B', 'fulfilled-by', 'Unnamed: 22']

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
5,5,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET264,SET264-KR-NP-XL,Set,...,INR,824.00,GHAZIABAD,UTTAR PRADESH,201102.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
6,6,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0095,J0095-SET-L,Set,...,INR,653.00,CHANDIGARH,CHANDIGARH,160036.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
7,7,406-7807733-3785945,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,kurta,...,INR,399.00,HYDERABAD,TELANGANA,500032.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

None

Missing values (top):

fulfilled-by          89698
promotion-ids         49153
Unnamed: 22           49050
currency               7795
Amount                 7795
Courier Status         6872
ship-country             33
ship-city                33
ship-state               33
ship-postal-code         33
Sales Channel             0
Fulfilment                0
Status                    0
Date                      0
Order ID                  0
index                     0
Style                     0
ship-service-level        0
Qty                       0
ASIN                      0
dtype: int64

Duplicate rows: 0

In [5]:
cols_to_drop = ['index', 'Unnamed: 22']  # adjust if more unneeded cols exist
df = df.drop(columns=cols_to_drop, errors='ignore')
print("Dropped columns (if present):", cols_to_drop)
print("New shape:", df.shape)

Dropped columns (if present): ['index', 'Unnamed: 22']
New shape: (128975, 22)

In [6]:
# Parse Date -> try common formats
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', dayfirst=False)  # many Amazon exports use MM-DD-YY or similar

# Qty -> numeric integer
if 'Qty' in df.columns:
    df['Qty'] = pd.to_numeric(df['Qty'], errors='coerce').fillna(0).astype(int)
else:
    print("Warning: 'Qty' column missing!")

# Amount -> strip currency symbols/commas and convert
if 'Amount' in df.columns:
    df['Amount_raw'] = df['Amount']  # keep raw copy
    df['Amount'] = to_numeric_clean(df['Amount'])
else:
    raise KeyError("No 'Amount' column found — please check your file.")

# Show parsing results
print("Date nulls:", df['Date'].isna().sum())
print("Amount nulls:", df['Amount'].isna().sum())
display(df[['Date','Qty','Amount','Amount_raw']].head(10))

Date nulls: 0
Amount nulls: 7795

C:\Users\Utkarsh Pal\AppData\Local\Temp\ipykernel_27184\25266176.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce', dayfirst=False)  # many Amazon exports use MM-DD-YY or similar

        Date  Qty  Amount  Amount_raw
0 2022-04-30    0  647.62      647.62
1 2022-04-30    1  406.00      406.00
2 2022-04-30    1  329.00      329.00
3 2022-04-30    0  753.33      753.33
4 2022-04-30    1  574.00      574.00
5 2022-04-30    1  824.00      824.00
6 2022-04-30    1  653.00      653.00
7 2022-04-30    1  399.00      399.00
8 2022-04-30    0     NaN         NaN
9 2022-04-30    1  363.00      363.00

In [7]:
# Show some examples where quantity > 1
multi_qty = df[df['Qty'] > 1].sample(n=min(10, df[df['Qty'] > 1].shape[0]), random_state=1)
print("Sample rows with Qty > 1 (for inspection):")
display(multi_qty[['Order ID','Date','Qty','Amount','Amount_raw','Category','ship-city']].head(10))

# Heuristic check:
# If mean(Amount*Qty) >> mean(Amount) then Amount is likely unit price; else it's likely already the order total.
mean_amount = df['Amount'].mean()
mean_amount_times_qty = (df['Amount'] * df['Qty']).mean()
print(f"\nMean(Amount) = {mean_amount:.2f}, Mean(Amount*Qty) = {mean_amount_times_qty:.2f}")

# Heuristic threshold
if mean_amount_times_qty / (mean_amount + 1e-9) > 1.5:
    print("Heuristic result: 'Amount' appears to be a per-unit price. We'll compute Total_Amount = Amount * Qty.")
    amount_is_unit = True
else:
    print("Heuristic result: 'Amount' looks like total order amount. We'll keep Total_Amount = Amount.")
    amount_is_unit = False

Sample rows with Qty > 1 (for inspection):

,Order ID,Date,Qty,Amount,Amount_raw,Category,ship-city
33332,405-4755854-9568304,2022-04-10,3,1458.0,1458.0,kurta,MANGALURU
62272,403-8013350-5684347,2022-05-21,2,1418.0,1418.0,kurta,BAREILLY
41573,402-4832944-3085912,2022-04-05,2,1292.0,1292.0,Set,MUMBAI
23284,407-6792695-1618719,2022-04-16,2,1136.0,1136.0,kurta,JUGAULI
76656,402-6224836-2909165,2022-05-09,2,1418.0,1418.0,kurta,KHARGONE
109787,408-0733183-6848317,2022-06-14,2,1450.0,1450.0,Western Dress,TADPATRI
103342,408-1398443-7111502,2022-06-19,2,1584.0,1584.0,Set,BENGALURU
84439,407-4050750-0202746,2022-05-04,2,1310.0,1310.0,Set,TAKHATPUR
40131,171-8262814-3263531,2022-04-06,2,1576.0,1576.0,Set,PUNE
61127,406-0452967-3645927,2022-05-22,2,1554.0,1554.0,Set,HYDERABAD

Mean(Amount) = 648.56, Mean(Amount*Qty) = 627.45
Heuristic result: 'Amount' looks like total order amount. We'll keep Total_Amount = Amount.

In [8]:
if amount_is_unit:
    df['Total_Amount'] = df['Amount'] * df['Qty']
else:
    # If Amount already looks like total, keep it, but also compute amount_per_unit for reference
    df['Total_Amount'] = df['Amount']
    # Avoid dividing by zero
    df['Unit_Price'] = np.where(df['Qty']>0, df['Total_Amount'] / df['Qty'], np.nan)

# Show totals summary
display(df[['Qty','Amount','Unit_Price' if 'Unit_Price' in df.columns else 'Amount','Total_Amount']].head(8))
print("Total revenue (rough):", df['Total_Amount'].sum())

   Qty  Amount  Unit_Price  Total_Amount
0    0  647.62         NaN        647.62
1    1  406.00       406.0        406.00
2    1  329.00       329.0        329.00
3    0  753.33         NaN        753.33
4    1  574.00       574.0        574.00
5    1  824.00       824.0        824.00
6    1  653.00       653.0        653.00
7    1  399.00       399.0        399.00

Total revenue (rough): 78592678.3

In [9]:
# Inspect unique values first
print("Unique Status values:", df['Status'].dropna().unique()[:50])
print("Unique Courier Status values:", df['Courier Status'].dropna().unique()[:50])

# Keep shipped/delivered orders only (this is a common choice — you can modify)
status_mask = df['Status'].str.contains(r'shipped|shipped to|delivered', case=False, na=False)
courier_mask = df['Courier Status'].str.contains(r'deliv|ship|out for', case=False, na=False)

# Combine masks: prefer both conditions if available; else apply sensible fallback
combined_mask = status_mask | courier_mask

print("Rows before filter:", df.shape[0])
df = df[combined_mask].copy()
print("Rows after filtering (kept shipped/delivered):", df.shape[0])

# If you want to keep returns separately, create a returned df:
df_returns = df[df['Courier Status'].str.contains(r'return|returned', case=False, na=False)]
print("Returned/return rows (in filtered set):", df_returns.shape[0])

Unique Status values: ['Cancelled' 'Shipped - Delivered to Buyer' 'Shipped'
 'Shipped - Returned to Seller' 'Shipped - Rejected by Buyer'
 'Shipped - Lost in Transit' 'Shipped - Out for Delivery'
 'Shipped - Returning to Seller' 'Shipped - Picked Up' 'Pending'
 'Pending - Waiting for Pick Up' 'Shipped - Damaged' 'Shipping']
Unique Courier Status values: ['Shipped' 'Cancelled' 'Unshipped']
Rows before filter: 128975
Rows after filtering (kept shipped/delivered): 116272
Returned/return rows (in filtered set): 0

In [10]:
# Columns to standardize (if they exist)
text_cols = ['Category','ship-city','ship-state','Sales Channel','Fulfilment','fulfilled-by','promotion-ids']
for col in text_cols:
    if col in df.columns:
        df[col] = df[col].fillna('Unknown').astype(str).str.strip().str.title()

# Quick check
display(df[['Category','ship-city','ship-state']].head(8))

   Category    ship-city     ship-state
1     Kurta    Bengaluru      Karnataka
2     Kurta  Navi Mumbai    Maharashtra
4       Top      Chennai     Tamil Nadu
5       Set    Ghaziabad  Uttar Pradesh
6       Set   Chandigarh     Chandigarh
7     Kurta    Hyderabad      Telangana
9     Kurta      Chennai     Tamil Nadu
10    Kurta      Chennai     Tamil Nadu

In [11]:
# Drop rows with invalid dates (if any)
bad_dates = df['Date'].isna().sum()
if bad_dates > 0:
    print("Dropping rows with invalid Date:", bad_dates)
    df = df.dropna(subset=['Date'])

# Feature engineering
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Month_Year'] = df['Date'].dt.to_period('M').astype(str)
df['Order_MonthStart'] = df['Date'].dt.to_period('M').dt.to_timestamp()

# Remove exact duplicates
before_dup = df.shape[0]
df = df.drop_duplicates()
print(f"Removed exact duplicates: {before_dup - df.shape[0]} rows")

Removed exact duplicates: 3 rows

In [12]:
# Basic assertions (adjust / remove if not applicable)
assert 'Total_Amount' in df.columns, "Total_Amount not created"
print("Rows:", df.shape[0])
print("Total revenue (sum Total_Amount):", df['Total_Amount'].sum())

# Null checks for required columns
required = ['Order ID','Date','Qty','Total_Amount']
for r in required:
    if r not in df.columns:
        print("Warning missing required column:", r)
    else:
        print(r, "nulls:", df[r].isnull().sum())

Rows: 116269
Total revenue (sum Total_Amount): 75399871.0
Order ID nulls: 0
Date nulls: 0
Qty nulls: 0
Total_Amount nulls: 228

In [13]:
# Ensure processed dir exists
os.makedirs("../data/processed", exist_ok=True)

out_path = "../data/processed/Amazon_Sales_Cleaned.csv"
df.to_csv(out_path, index=False)
print("Saved cleaned dataset to:", out_path)

# Optional: save to sqlite for SQL queries
import sqlite3
conn = sqlite3.connect("../data/processed/sales.db")
df.to_sql('sales', conn, if_exists='replace', index=False)
print("Saved a SQLite DB at ../data/processed/sales.db (table: sales)")
conn.close()

Saved cleaned dataset to: ../data/processed/Amazon_Sales_Cleaned.csv
Saved a SQLite DB at ../data/processed/sales.db (table: sales)

In [14]:
# Quick counts and top categories
print("Number of unique orders:", df['Order ID'].nunique())
print("Number of unique customers:", df['Customer ID'].nunique() if 'Customer ID' in df.columns else "No Customer ID column")

# Top categories revenue
if 'Category' in df.columns:
    cat_rev = df.groupby('Category')['Total_Amount'].sum().sort_values(ascending=False).head(10)
    display(cat_rev)

Number of unique orders: 108419
Number of unique customers: No Customer ID column

Category
Set              37660322.0
Kurta            20451608.0
Western Dress    10629096.0
Top               5203733.0
Ethnic Dress       760711.0
Blouse             434751.0
Bottom             140226.0
Saree              118509.0
Dupatta               915.0
Name: Total_Amount, dtype: float64